# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist
build
.eggs/

# Virtual env
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
media/
staticfiles/

# pytest
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.db
